<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>275682877590-lmvmug5241qtefhspreor020gecogtqp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.275682877590-lmvmug5241qtefhspreor020gecogtqp</string>
	<key>API_KEY</key>
	<string>AIzaSyCdLYJli3DBKHWCgukpGsT-HhkfSf0ZQko</string>
	<key>GCM_SENDER_ID</key>
	<string>275682877590</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jasontwong.madManga</string>
	<key>PROJECT_ID</key>
	<string>mad-manga-78540</string>
	<key>STORAGE_BUCKET</key>
	<string>mad-manga-78540.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:275682877590:ios:b9c217473e10731502e2b7</string>
</dict>
</plist>